
<!-- <%# this is the starting landing page. When the site loads, it should load this first %>
<%# Though having users sign in before they can access the site feels like an over 18 site - DF %>

<h1>The Book Club</h1>
<p>A library for your favorite books</p>

<%# /main is just a place holder for now. Should be whatever the main index or book section is %>
<%= link_to "Come Take A Seat inside the Book Club     |", "/main" %>

<%# according to the routes the prefix is new_user_session %>
<%# this also allows you to create a new user %>
<%= link_to "Sign in     |", new_user_session_path %>

<%# this is for signing out of the session %>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %> -->

<div class="middle font">
  <h1>BOOKS LIST</h1>
</div>

<% if current_user.try(:admin?) %>
  <div class="middle font">
    <%= link_to "Add Book", new_book_path %>
  </div>

<% else %>

  <%= form_with url: user_favorite_books_path, model:@user_favorite_book, local: true do |form| %>
    <div class="form-group top">
      <%= form.label :books %>
      <%= form.collection_select(:book_id, Book.all, :id, :title) %>
    </div>

    <div class="top-sm">
      <%= form.submit "Add to Favorites", class: 'btn btn-info my-2'%>
    </div>
  <% end %>

<% end %>

<div class="row justify-content-around">
  <% @books.each do |book|  %>
    <%= render 'card', book: book %>
  <% end %>
</div>


