<!DOCTYPE html>
<html>
  <head>
    <title>FavoriteBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'bookmark.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/nav' %>
      <%= render 'layouts/message' %>


   <div class="container top-lg">
       <%= yield %>
   </div>
  </body>
</html>
